* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  color: #eeeeee;
}

body {
  background-color: #222;
}

li {
  margin-bottom: 4rem;
  text-align: center;
}

.container:not(.headline) {
  background-color: #181818;
  padding: 1%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 12px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

p {
  margin-right: 10%;
  margin-left: 10%;
  font-size: 17px;
}

a {
  color: #d84727;
}

ul {
  list-style: none;
}
